@page "/movies"

@inject IHttpClientFactory _clientFactory
@inject ApiDataAccess _API

<h3>MoviesData</h3>

@if (string.IsNullOrWhiteSpace(errorString) == false)
{
    <div class="h2">@errorString</div>
}
else if (movie is null)
{
    <div class="h4">Loading...</div>
}
else
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Vote_average</td>
            </tr>
        </tbody>
    </table>
}

@code {      
    MovieModel movie;
    string errorString;

    protected override async Task OnInitializedAsync()
    {

        var result = await _API.GetMovie();
        movie = result.Item1;
        errorString = result.Item2;
    }
}
