@page "/movies"

@inject IHttpClientFactory _clientFactory
@inject ApiDataAccess _API

<h3>MoviesData</h3>

@if (string.IsNullOrWhiteSpace(errorString) == false)
{
    <div class="h2">@errorString</div>
}
else if (movies is null)
{
    <div class="h4">Loading...</div>
}
else
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in movies)
            {
                <tr>
                    <td>@m.Title</td>
                    <td>@m.Vote_average</td>
                </tr>
            }

        </tbody>
    </table>
}

@code {      
    List<MovieModel> movies;
    string errorString;

    protected override async Task OnInitializedAsync()
    {

        var result = await _API.GetTopratedMovies();
        movies = result.Item1;
        errorString = result.Item2;
    }
}
